version: "3.8"

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    image: jenkins-with-maven:lts
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    user: root
volumes:
  jenkins_home: