# GitHub Actions required secrets

GCP_SA_KEY=<service-account-json-key>
GCP_PROJECT_ID=robotic-haven-459022-i7
SSH_PRIVATE_KEY=<your-private-key>
SSH_PUBLIC_KEY=<your-public-key>
DB_HOST=<cloud-sql-ip>
DB_NAME=provedcode
DB_USER=provedcode
DB_PASSWORD=<secure-password>
