[submodule "App_Docker_Compose/backend/provedcode-backend-vitya199909"]
	path = App_Docker_Compose/backend/provedcode-backend-vitya199909
	url = https://github.com/DevOps-ProjectLevel/provedcode-backend-vitya199909.git
	branch = main
[submodule "App_Docker_Compose/frontend/provedcode-frontend-vitya199909"]
	path = App_Docker_Compose/frontend/provedcode-frontend-vitya199909
	url = https://github.com/DevOps-ProjectLevel/provedcode-frontend-vitya199909.git
	branch = main
[submodule "Vagrant_ProvedCode/provedcode-backend-vitya199909"]
	path = Vagrant_ProvedCode/provedcode-backend-vitya199909
	url = https://github.com/DevOps-ProjectLevel/provedcode-backend-vitya199909.git
	branch = main
[submodule "Vagrant_ProvedCode/provedcode-frontend-vitya199909"]
	path = Vagrant_ProvedCode/provedcode-frontend-vitya199909
	url = https://github.com/DevOps-ProjectLevel/provedcode-frontend-vitya199909.git
	branch = main
[submodule "Vagrant_ProvedCode_Oracle/provedcode-backend-vitya199909"]
	path = Vagrant_ProvedCode_Oracle/provedcode-backend-vitya199909
	url = https://github.com/DevOps-ProjectLevel/provedcode-backend-vitya199909.git
	branch = main
[submodule "Vagrant_ProvedCode_Oracle/provedcode-frontend-vitya199909"]
	path = Vagrant_ProvedCode_Oracle/provedcode-frontend-vitya199909
	url = https://github.com/DevOps-ProjectLevel/provedcode-frontend-vitya199909.git
	branch = main