---
- name: Install OpenJDK 17
  apt:
    name:
      - openjdk-17-jdk
      - openjdk-17-jre
    state: present

- name: Find JAVA_HOME
  shell: dirname $(dirname $(readlink -f $(which java)))
  register: java_home_result
  changed_when: false

- name: Set JAVA_HOME environment variable
  lineinfile:
    path: /etc/environment
    line: 'JAVA_HOME="{{ java_home_result.stdout }}"'
    create: yes

- name: Verify Java installation
  command: java -version
  register: java_version
  changed_when: false

- name: Display Java version
  debug:
    var: java_version.stderr_lines
