---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - unzip
      - net-tools
      - python3
      - python3-pip
      - acl
    state: present

- name: Set timezone
  timezone:
    name: Europe/Kiev

- name: Configure firewall (ufw)
  ufw:
    state: enabled
    policy: deny
  when: ansible_os_family == "Debian"

- name: Allow SSH
  ufw:
    rule: allow
    port: '22'
    proto: tcp
