---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Ensure nginx is started and enabled
  systemd:
    name: nginx
    state: started
    enabled: yes

- name: Configure nginx.conf
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0644'
  notify: reload nginx

- name: Allow HTTP in firewall
  ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Allow HTTPS in firewall
  ufw:
    rule: allow
    port: '443'
    proto: tcp
